<section tsm-header="headerTitle">
  <ul class="menu">
    <li class="menu-item">
      <a ng-click="openSettingDialog()"><i class="fa fa-cog"></i> Einstellungen</a>
    </li>
    <li class="menu-item">
      <a href="#">Login</a>
    </li>
  </ul>
</section>
<main class="content" ng-init="initSensorView()">
  <div ui-view></div>
</main>
<section tsm-dialog="showDialog">
  <section class="dialog-title">
    <h1>Settings</h1>
    <a class="button" ng-click="closeDialog()">&times</a>
  </section>
  <section class="dialog-content">
    <p>This is my Setting Forms</p>
  </section>
  <section class="dialog-footer">
    <button class="button primary" ng-click="closeDialog()">Schließen</button>
  </section>
</section>